<div class='cartouche'>
  <h3>Centres d'intéret:</h3><hr>
  <div class="cartouche-contain">
    <h4>Sport</h4>
    <ul>
      <li>Course à pied</li>
      <li>Tennis de table</li>
      <li>Badminton</li>
    </ul>
    <h4>Musique</h4>
    <ul>
      <li>Guitare</li>
      <li>Basse</li>
    </ul>
    <h4>Véhicules de collection</h4>
    <ul>
      <li>Restauration de coccinelles</li>
    </ul>
    <h4>Bricolage</h4>
    <ul>
      <li>Construction, rénauvation de maisons</li>
    </ul>
  </div>
</div>
