#banniere{
  width:auto;
  height: 62vw;
  position: relative;
  text-align:center;
  background-image: url('../../assets/images/banniere2.jpg');
  background-size: 100%;
}
h1{
  color: #1c3334;
  font-size: 6vw;
  font-family: 'Libre Caslon Display', serif;
  text-shadow: 2px 2px #da7b93;
  padding-top:10vh;
}
h2{
  padding-top:5vh;
}
#avatar{
  width: 30vw;
  height: auto;
  border-radius: 150px;
  border:5px solid #EAF3D8;

}
.photo{
  margin: auto;
  height: 100%;
  padding:10px;
}
