.foot{
  position: fixed;
  vertical-align: middle;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  background-color: #1F272D;
  height: 5vh;
}
a:hover{
color: #E6EEF2;
background-color:#3B4C54
}
a{
  padding: 0 50px;
  color: white;

}

