<div class='cartouche'>
  <h3>Compétences:</h3><hr>
  <div class='cartouche-contain'>
    <h4>Réactivité</h4>
    <ul>
      <li>Capacité d'analyse</li>
      <li>Facilité d'adaptation</li>
      <li>Travail en autonomie</li>
    </ul>
    <h4>Investissement:</h4>
    <ul>
      <li>Travail personnel et auto-formation</li>
      <li>Objectifs individuels et collectifs</li>
      <li>Force de propositions</li>
    </ul>
    <h4>Travail en équipe</h4>
    <ul>
      <li>Savoir-être</li>
      <li>Facilitateur</li>
      <li>Gestion de personnels</li>
    </ul>
  </div>
</div>
