<h2>Portfolio</h2>>

<ul class="collection">

  <li class="collection-item avatar">
    <i class="material-icons circle">Web</i>
    <span class="title">Title</span>
    <p>Courte descripion</p>
  </li>
  <li class="collection-item avatar">
    <i class="material-icons circle">Web</i>
    <span class="title">Title</span>
    <p>Courte descripion</p>
  </li>
  <li class="collection-item avatar">
      <i class="material-icons circle">Web</i>
      <span class="title">Title</span>
      <p>Courte descripion</p>
    </li>
    <li class="collection-item avatar">
        <i class="material-icons circle">Web</i>
        <span class="title">Title</span>
        <p>Courte descripion</p>
      </li>
      <li class="collection-item avatar">
          <i class="material-icons circle">Web</i>
          <span class="title">Title</span>
          <p>Courte descripion</p>
        </li>
        <li class="collection-item avatar">
            <i class="material-icons circle">Web</i>
            <span class="title">Title</span>
            <p>Courte descripion</p>
          </li>

  </ul>
