.collection{
  border:none;
}
.collection-item{
  margin-bottom: 5px;
  color:white;
  background-color: #1F272D;
  border: none;
}
.collection-item:hover{
  -webkit-transform: rotateX(20deg);
  transform: rotateX(20deg);
  background-color:#37474f ;
}
.pok{
  border-radius: 8px;
  background-color:#37474f ;
  width: 33%;
  padding:0;
}
.rowy{
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}
