<h2>Portfolio</h2>>

<div class='contain'>
  <div class="rowy">
    <button class="btn waves-effect waves-light pok">Js</button>
    <button class="btn waves-effect waves-light pok">Angular</button>
    <button class="btn waves-effect waves-light pok">Python</button>
  </div>
  <div class="rowy">
    <button class="btn waves-effect waves-light pok">Html / Css</button>
    <button class="btn waves-effect waves-light pok">Scrum</button>
    <Button class="btn waves-effect waves-light pok">Git</Button>
  </div>
</div>
<ul class="collection">
  <li class="collection-item avatar">
    <i class="material-icons circle">Web</i>
    <span class="title">Title</span>
    <p>Courte descripion</p>
  </li>
  <li class="collection-item avatar">
    <i class="material-icons circle">Web</i>
    <span class="title">Title</span>
    <p>Courte descripion</p>
  </li>
  <li class="collection-item avatar">
    <i class="material-icons circle">Web</i>
    <span class="title">Title</span>
    <p>Courte descripion</p>
  </li>
  <li class="collection-item avatar">
    <i class="material-icons circle">Web</i>
    <span class="title">Title</span>
    <p>Courte descripion</p>
  </li>
  <li class="collection-item avatar">
    <i class="material-icons circle">Web</i>
    <span class="title">Title</span>
    <p>Courte descripion</p>
  </li>
</ul>

