<div class="exp">
  <h3>Expérience</h3><hr>

  <div>
    <h4>{{experience[this.scroll].title}}</h4>
    <ul>
      <li>{{experience[this.scroll].society}} - {{experience[this.scroll].date}}</li>
      <li>{{experience[this.scroll].description}}</li>
    </ul>
  </div>

  <div>
    <button class="btn waves-effect waves-light" (click)='previous()'>
        <i class="material-icons left"></i>Précédent
    </button>
    <button class="btn waves-effect waves-light" type="submit" name="action"  (click)='next()'>
        <i class="material-icons right"></i>Suivant
    </button>
  </div>
</div>
