ul{
  width: 75%;
  margin: auto;
}
.button{
  justify-content: center;
  position: fixed;
  padding: 25px;
  margin: 0 80px;
  top: 68vh;
}
.btn{
  background-color: #1F272D;
  margin: 10px;
}
.btn:hover{
  background-color: #3B4C54;
}
