#contact{
  margin-top: 4px;
  height: 400px;
  display:flex;
  flex-direction: row;
}
#contact12{
  flex:1;
  color: white;
  background-color: black;
  padding:50px;
  margin-right: 4px;
}
#contactBoite{
  display: flex;
  flex-direction: row
}
#contact1{
 flex:1;
}
#contact2{
 flex:2;
}


#formulaire{
  flex:1;
  background-color: grey;
  padding: 50px;
}
input:not([type=radio]),textarea{
  display: block;
  margin-top:-35px;
  margin-bottom: 8px;
  box-sizing: border-box;
  margin-left:190px;
  padding-top: 0;
  width:50%;
}
input:focus, textarea:focus{
  background-color: lightgray;
  outline: 2px solid red;
  outline-offset: 5px;
}
input[type="text"]:checked{
  background-color: red;
}
input:disable{
  background-color: red;
}
.align:enable{
  background-color: red;
}
ul{
  list-style: none;
}
.gras{
  font-weight: bold;
}
input[type='radio']:after{
  border: 2px solid red;
}

-moz-user-disabledbody {
  font-family: Raleway;
  font-size: 1.2rem;
  line-height: 1.8rem;
  background: #eee;
}



.content {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 30px;
  background: #fff;
  border: 1px solid #ddd;
}

code {
  background: #f4f4f4;
}

.center {
  text-align: center;
}

button {
  padding: 10px 20px;
  background: rgb(48, 20, 20);
  color: #fff;
  border: transparent;
  border-radius: 4px;
  font-size: 1.5rem;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}
.modal-inner {
  margin-top: 30px;
}
.texture-sample {
  border: 1px solid #eee;
  height: 160px;
}
/*Form*/

@import url('https://rsms.me/inter/inter-ui.css');
::selection {
background: #2D2F36;
}
::-webkit-selection {
background: #2D2F36;
}
::-moz-selection {
background: #2D2F36;
}
body {
background: white;
font-family: 'Inter UI', sans-serif;
margin: 0;
padding: 20px;
}
.page {
background: #e2e2e5;
display: flex;
flex-direction: column;
height: calc(100% - 40px);
position: absolute;
place-content: center;
width: calc(100% - 40px);
}
@media (max-width: 767px) {
.page {
  height: auto;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
}
.container {
display: flex;
height: 320px;
margin: 0 auto;
width: 640px;
}
@media (max-width: 767px) {
.container {
  flex-direction: column;
  height: 630px;
  width: 320px;
}
}
.left {
background: white;
height: calc(100% - 40px);
top: 20px;
position: relative;
width: 50%;
}
@media (max-width: 767px) {
.left {
  height: 100%;
  left: 20px;
  width: calc(100% - 40px);
  max-height: 270px;
}
}
.login {
font-size: 50px;
font-weight: 900;
margin: 50px 40px 40px;
}
.eula {
color: #999;
font-size: 14px;
line-height: 1.5;
margin: 40px;
}
.right {
background: #474A59;
box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
color: #F1F1F2;
position: relative;
width: 50%;
}
@media (max-width: 767px) {
.right {
  flex-shrink: 0;
  height: 100%;
  width: 100%;
  max-height: 350px;
}
}
svg {
position: absolute;
width: 320px;
}
path {
fill: none;
stroke: url(#linearGradient);;
stroke-width: 4;
stroke-dasharray: 240 1386;
}
.form {
margin: 40px;
position: absolute;
}
label {
color:  #c2c2c5;
display: block;
font-size: 14px;
height: 16px;
margin-top: 20px;
margin-bottom: 5px;
}
input {
background: transparent;
border: 0;
color: #f2f2f2;
font-size: 20px;
height: 30px;
line-height: 30px;
outline: none !important;
width: 100%;
}
input::-moz-focus-inner {
border: 0;
}
#submit {
color: #707075;
margin-top: 40px;
transition: color 300ms;
}
#submit:focus {
color: #f2f2f2;
}
#submit:active {
color: #d0d0d2;
}
