<div class='cartouche'>
    <h3>Infos Rapides</h3><hr>
    <div id="contactBoite">
      <ul id="contact1">
        <li class="gras">Téléphone</li>
        <li class="gras">E-mail</li>
        <li class="gras">Site</li>
        <li class="gras">Adresse</li>
        <li>&nbsp;</li>
      </ul>
      <ul id="contact2">
        <li>06 16 69 09 01</li>
        <li><a href="mailto:erique.delacharlerie@gmail.com">erique.delacharlerie@gmail.com</a></li>
        <li>http://www.erique.delacharlerie.com</li>
        <li>20, ch du lavoir de Menusey</li>
        <li>33670 Sadirac, France</li>
      </ul>
    </div>
  <button class="btn waves-effect waves-light">
      <i class="material-icons left"></i>Me contacter
  </button>
</div>
