#contact{
  margin-top: 4px;
  height: 400px;
  display:flex;
  flex-direction: row;
}
#contact12{
  flex:1;
  color: white;
  background-color: black;
  padding:50px;
  margin-right: 4px;
}
#contactBoite{
  display: flex;
  flex-direction: row
}
#contact1{
 flex:1;
}
#contact2{
 flex:2;
}
