<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo center">Developpeur Junior</a>
    <ul class="left hide-on-med-and-down">
      <li><a [routerLink]="['/experience']" routerLinkActive="router-link-active" >Expérience</a></li>
      <li><a [routerLink]="['/competence']" routerLinkActive="router-link-active" >Compétences</a></li>
      <li><a [routerLink]="['/formation']" routerLinkActive="router-link-active" >Formation</a></li>
      <li><a [routerLink]="['/hobbies']" routerLinkActive="router-link-active" >Loisirs</a></li>
      <li><a [routerLink]="['/download']" routerLinkActive="router-link-active" >Cv papier</a></li>
      <li><a [routerLink]="['/contact']" routerLinkActive="router-link-active" >Me contacter</a></li>

    </ul>
  </div>
</nav>
