<div class ="containery">
    <div class="containerHTML">
      <form class="example-form">
        <div class="div-name">
          <mat-form-field>
            <input matInput placeholder="Name" value="">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Société" value="">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Mail" value="">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Télephone" value="">
          </mat-form-field>
          <mat-form-field>
            <textarea matInput placeholder="Votre demande"></textarea>
          </mat-form-field>
        </div>
      </form>

      <div class="button" >
        <button class="btn waves-effect waves-light"  [routerLink]="['/experience']" routerLinkActive="router-link-active"  color="Connexion">Connexion</button>
      </div>
    </div>
  </div>

