.contain{
  display: flex;
  flex-direction: row;
  height:88vh;
}
.lateral{
  flex: 0.2;
  background-color:#6B7D89;
  padding: 20px;
}
.main{
  flex: 0.8;
  margin:8px;
  padding:5px;
  background-image: url('../assets/images/banniere2.jpg');
  background-size: cover;
}

