body{
  background-color: #e2e3e8;
  font-family: 'Libre Caslon Display', serif;
  margin:0 4px;
}
h1{
  color: #e2e3e8;
  font-size: 80px;
  font-family: 'Libre Caslon Display', serif;
  padding-top: 200px;
  text-shadow: 2px 2px black;
}
h2{
  color:#186363;
  text-shadow: 1px 1px white;
}
h3{
  color: rgb(63, 51, 51);
  font-weight: bold;
}
